body{
    font-size: 16px;
    background: #f9f9f9;
    
}

.a{
    text-decoration: none;
    font-size: 30px;
}

.h2{
    text-align: center;
    border-bottom: 2px solid green;
    
}

form{
    width: 500px;
    background: #fff;
    padding: 40px 40px 40px;
    margin: 50px auto 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input,select{
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
}

label{
    display: block;
    
    margin-bottom: 6px;
    font-size: 20px;
}

div{
    padding-bottom: 12px;
} 

.button{
    font-size: 20px;
    background: #4cbb14;
    border-color: black;
    box-shadow: 0 3px 0 grey;
    color: white;
    margin-top: 18px;
    cursor: pointer;
        padding: 5px 85px;
    margin-left: 28%;

}

.button:hover{
    background: #228b22;
} 


/* test ke liya */
 